<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sandwich.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sandwich.description %>
</p>

<%= link_to 'Edit', edit_sandwich_path(@sandwich) %> |
<%= link_to 'Back', sandwiches_path %>
